<!--                                       GIAO DIỆN BẢNG HIỆN RA KHI BẤM VÀO SIGN UP                                    -->
<!--    *********************************************************************************************************    -->


<!DOCTYPE html>
<html>
  <head>
    <title>Đăng ký tài khoản Indoor Positioning</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    <link rel="stylesheet" href="/styles/angular-toastr.css">
    <link rel="stylesheet" href="/styles/bootstrap.css">
    <link rel="stylesheet" href="/styles/custom.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/responsive.css">
    <link rel="stylesheet" href="/styles/thumbnail-gallery.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
    window.SAILS_LOCALS = { _csrf: "<%= _csrf %>" };
    </script>

  </head>

  <body ng-app="SignupModule" ng-controller="SignupController" ng-cloak>
    <div class="container-fluid">

      <!-- Creates the navbar -->
        <nav class="navbar navbar-default navbar-inverse">
      
          <!-- This creates the mechanism for the collapse button -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
      
            <!-- This controls the number of lines in the image when the nav collapse -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <!-- This is the brand on the left-hand side. -->
          <a class="navbar-brand" href="/#"> Indoor Positioning</a>
          <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'">

          <!-- LOGIN FORM -->  
          <form ng-submit="submitLoginForm()" class="navbar-form navbar-right">

              <!-- E M A I L -->
              <div class="form-group">
                  <input ng-model="loginForm.email" type="text" placeholder="Email" name="email" class="form-control">
              </div>

              <!-- P A S S W O R D -->
              <div class="form-group">
                  <input ng-model="loginForm.password" type="password" placeholder="Password" name="password" class="form-control">
              </div>

              <!-- S U B M I T -->
              <button type="submit" class="btn btn-success">
                <span ng-show="!loginForm.loading">Đăng nhập</span>
                <span ng-show="loginForm.loading" class="fa fa-spinner"></span>
                <span ng-show="loginForm.loading">Đang đăng nhập...</span>
              </button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
          </form>
        </nav>
      </div>
    </div>

    <!-- SIGNUP FORM --> 
    <form ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signup">
      <h2 class="form-signin-heading">Tạo tài khoản</h2>
      <div class="row">

        <!-- N A M E -->

        <!-- checking whether the form "signup" with the "name" property is both $invalid AND $dirty.  If it is
        insert the "has-error" class on the input field (i.e. insert a red border around the input field)
        -->
        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.name.$invalid &&
                              signup.name.$dirty}">
          <label>Tên đăng nhập</label>

          <!-- For this input field make it required, and have a max length of 25 -->
          <input type="text" class="form-control" placeholder="e.g. BlackDragon" name="name" ng-model="signupForm.name" ng-maxlength="50" required>

          <!-- Also, if signup.name.$dirty is true, show the message depending upon the particular properties truthiness (e.g. required
          and/or maxlength) -->
          <span class="help-block has-error" ng-if="signup.name.$dirty">
            <span ng-show="signup.name.$error.required">Yêu cầu tên đăng nhập.</span>
            <span ng-show="signup.name.$error.maxlength">Tên đăng nhập không được quá 50 ký tự.</span>
          </span>
        </div>

        <!-- E M A I L -->

        <div class="control-group form-group col-md-12"
        ng-class="{'has-error':signup.email.$invalid &&
                              signup.email.$dirty}">
          <label>Địa chỉ email</label>
          <input type="email" class="form-control" placeholder="lvhoa58@gmail.com" name="email" ng-model="signupForm.email" required >
          <span class="help-block has-error" ng-if="signup.email.$dirty">
            <span ng-show="signup.email.$error.required">Yêu cầu địa chỉ email.</span>
            <span ng-show="signup.email.$error.email">Địa chỉ email không phù hợp.</span>
          </span>
        </div>

        <!-- P A S S W O R D -->

        <div class="control-group form-group col-md-6"
        ng-class="{'has-error':signup.password.$invalid &&
                              signup.password.$dirty}">
          <label>Password</label>
          <!-- Added the compareTo directive that compares the passowrds -->
          <input type="password" class="form-control" placeholder="Ít nhất 6 ký tự" name="password" ng-model="signupForm.password" id="password" required ng-minlength="6" compare-to="signupForm.confirmPassword" >
          <span class="help-block has-error" ng-if="signup.password.$dirty">
            <span ng-show="signup.password.$error.required">Yêu cầu Password.</span>
            <span ng-show="signup.password.$error.minlength">Password ít nhất có 6 ký tự.</span>
          </span>
        </div>

        <!-- C O N F I R M  P A S S W O R D -->

        <div class="control-group form-group col-md-6">
          <label>Re-enter password</label>
          <input type="password" class="form-control" placeholder="Nhập lại" name="confirmation" ng-model="signupForm.confirmPassword" required>
          <span class="help-block has-error" ng-if="signup.confirmation.$dirty">
            <span ng-show="signup.password.$error.compareTo">Password không khớp.</span>
            <span ng-show="signup.confirmation.$error.required">Yêu cầu confirmation password.</span>
          </span>
        </div>

        <div class="control-group form-group col-md-6">
          <label>Giới tính</label>
          <!-- Added the compareTo directive that compares the passowrds -->
          <select class="form-control" name="gender" ng-model="signupForm.gender" id="gender" >
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
          </select>
          <span class="help-block has-error" ng-if="signup.gender.$dirty">
            <span ng-show="signup.gender.$error.required">Yêu cầu nhập giới tính.</span>
          </span>
        </div>

        <div class="control-group form-group col-md-6">
          <label>Chiều cao</label>
          <input type="text" class="form-control" placeholder="1.7" name="height" ng-model="signupForm.height" required>
          <span class="help-block has-error" ng-if="signup.height.$dirty">
            <span ng-show="signup.height.$error.required">Yêu cầu nhập chiều cao.</span>
          </span>
        </div>


      </div>

      <br/>

      <!-- Disable signup button until the form has no errors -->
      <button class="btn btn-primary btn-lg btn-block" type="submit" ng-disabled="signup.$invalid">
        <span ng-show="!signupForm.loading">Tạo tài khoản</span>
        <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
        <span ng-show="signupForm.loading"> Đang tạo tài khoản...</span>
      </button>

      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    </form>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/angular.1.3.js"></script>
    <script src="/js/dependencies/angular-toastr.js"></script>
    <script src="/js/dependencies/compareTo.module.js"></script>
    <script src="/js/public/signup/SignupModule.js"></script>
    <script src="/js/public/homepage/HomepageModule.js"></script>
    <script src="/js/public/homepage/HomepageController.js"></script>
    <script src="/js/public/signup/SignupController.js"></script>
    <script src="/js/private/dashboard/jquery.min.js"></script>
    <script src="/js/private/dashboard/popper.min.js"></script>
    <script src="/js/private/dashboard/bootstrap.min.js"></script>
    <script src="/js/private/dashboard/jquery.easing.min.js"></script>
    <script src="/js/private/dashboard/jquery.dataTables.js"></script>
    <script src="/js/private/dashboard/dataTables.bootstrap4.js"></script>
    <script src="/js/private/dashboard/jquery.easing.compatibility.js"></script>
    <script src="/js/private/dashboard/sb-admin.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>

