<!--                             GIAO DIỆN CỦA TAB "VIDEO DEMO" TRONG GIAO DIỆN SAU KHI LOG IN                     -->
<!--    *********************************************************************************************************    -->


<link rel="stylesheet" href="/styles/thumbnail-gallery.css">
<div class="container gallery-container">

    <h1>Video Demo</h1>
    
    <!-- <div class="tz-gallery">

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox">
                      <video controls>
                        <source src="/public/video_demo/video-1543327300.mp4" type="video/mp4">
                      </video>
                    <div class="caption">
                        <h3>Tính năng app AGV</h3>
                        <p>Clip demo các tính năng của app trên điện thoại.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox">
                      <video controls>
                        <source src="/public/video_demo/demolocation.mp4" type="video/mp4">
                      </video>
                    <div class="caption">
                        <h3>Demo tính năng định vị</h3>
                        <p>Clip demo tính năng định vị trong nhà.</p>
                    </div>
                </div>
            </div><div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a class="lightbox">
                      <video controls>
                        <source src="/public/video_demo/video-1543306809.mp4" type="video/mp4">
                      </video>
                    <div class="caption">
                        <h3>Định vị trên app</h3>
                        <p>Clip quay lại quá trình thực hiện di chuyển.</p>
                    </div>
                </div>
            </div>
        </div>

    </div> -->

</div>

<script src="/js/private/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>
