

<div style="height:100vh;overflow-y: hidden;">
	<object data="/pdf/description.pdf" type="application/pdf" width="100%" height="100%" >
	    <p>Trình duyệt không hỗ trợ PDF, vui lòng download link dưới đây<a href="/pdf/description.pdf">click here to
	    download the PDF file.</a></p>
	</object>
</div>