<!--                             GIAO DIỆN CỦA TAB "CÀI ĐẶT" TRONG GIAO DIỆN SAU KHI LOG IN                          -->
<!--    *********************************************************************************************************    -->


<form action="http://localhost:70/posDestination">
    Nhập vào tọa độ x: <input type="text" name="posDesX" value=""><br>
    Nhập vào tọa độ y: <input type="text" name="posDesY" value=""><br>
    <input type="submit" value="Send">
</form>


